@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Epilogue', sans-serif;
    color:  hsl(0, 0%, 41%);
    width: 90%;
}
h1{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: .8em;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head > div{
    display: flex;
    margin-top: 2em;
    padding: 1em;
}
.head > div > p{
    margin-right: 1.3em;
    padding: .3em;
    font-size: .8rem;
}
.head > div >p:hover{
    font-weight: 700;
    color: black;
}
#Register{
    width: 5.7em;
    height: 2.2em;
    font-size: .7rem;
    background-color: white;
    border-radius: 7px;
    border: 2px solid hsl(0, 0%, 41%);
}
#Register:hover{
    border-color: black;
    font-weight: 700;
}
.option-drop-1,.option-drop-2{
    position: absolute;
    top: 11%;
    background-color: white;
    padding: .8em;
    border-radius: 10px;
    box-shadow: 1px 1px 19px  rgba(0, 0, 0, 0.307);
}
.option-drop-1 > p , .option-drop-2 > p{
    margin-bottom: .5em;
    font-size: .7rem;
}
.option-drop-1{
    display: none;
    left: 9%;
}
.option-drop-2{
    display: none;
    left: 16%;
}
.drop-1:hover ~ .option-drop-1{
    display: block;
}
.drop-2:hover ~ .option-drop-2{
    display: block;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1em;
}
.main > div > img{
    width: 95%;
    max-width: 1000px;
    min-width: 350px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2.3em;
}
.content > section > p{
    font-size: .9rem;
    font-weight: 500;
}
#Learn{
    width: 8.9em;
    padding: .9em;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 2em;
}
#Learn:hover{
    border: 1px solid black;
    color: black;
    font-weight: 700;
    background-color: white;
}
.content > section:last-child > img{
    width: 15%;
    margin: 10px;

}